{% extends 'realtime_app/base.html' %}

{% block title %}Demo Celery - My Real-Time App{% endblock %}

{% block content %}
<h2 class="text-2xl font-semibold">Demo Celery</h2>
<p class="mt-2 text-gray-600">Ini adalah halaman demo Celery pada aplikasi My Real-Time App.</p>
<p class="mt-1 text-gray-600">Di halaman ini, Anda bisa lihat fitur Celery yang memungkinkan Anda menjalankan tugas berat tanpa harus menunggu lama.</p>
<p class="mt-1 text-gray-600">Coba klik tombol untuk memulai tugas Celery dan lihat hasilnya.</p>
<button class="mt-4 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Mulai Tugas Celery</button>
{% endblock %}