{% extends 'realtime_app/base.html' %}

{% block title %}Beranda - My Real-Time App{% endblock %}

{% block content %}
    <h2 class="text-2xl font-semibold">Selamat datang di My Real-Time App!</h2>
    <p>Ini adalah aplikasi real-time yang hebat!</p>
    <p>Nikmati fitur-fitur menarik yang dapat memberikan pengalaman baru bagi Anda.</p>
    <p>Silakan kunjungi halaman <a href="{% url 'realtime_page' %}">Realtime</a> untuk mencoba fitur real-time kami.</p>
    <p>Semoga Anda menyukai aplikasi kami!</p>
{% endblock %}
