{% extends 'realtime_app/base.html' %}

{% block title %}Update Realtime - My Real-Time App{% endblock %}

{% block content %}
<h2 class="text-2xl font-semibold">Update Realtime</h2>
<p>Di halaman ini, kita akan merasakan pengalaman real-time update yang seru!</p>
<p>Setiap kali terjadi perubahan data, informasinya akan langsung ditampilkan di halaman ini tanpa perlu meng-refresh.</p>
<p>Ayo kita lihat bagaimana data di halaman ini diperbarui otomatis ketika ada perubahan data.</p>
<p>Mari berinteraksi dan mencoba fitur real-time yang kami sajikan!</p>
{% endblock %}