{% extends 'realtime_app/base.html' %}

{% block title %}Halaman Realtime - My Real-Time App{% endblock %}

{% block content %}
    <h2 class="text-2xl font-semibold">Halaman Realtime</h2>
    <p>Selamat datang di halaman realtime My Real-Time App.</p>
    <p>Di halaman ini, Anda dapat mengalami fitur real-time kami.</p>
    <p>Fitur-fitur ini memungkinkan Anda untuk melihat data yang diperbarui secara langsung tanpa perlu me-refresh halaman.</p>
    <p>Coba buka halaman ini di beberapa tab atau perangkat yang berbeda untuk melihat real-time update yang terjadi.</p>
{% endblock %}
